---
layout: base.njk
title: {{ title }}
permalink: false
---

<div class="content">
  {{ content | safe }}
</div>

{% if tags %}
<div class="tags" style="margin-top: 1.5rem;">
  {% for tag in tags %}
  <span class="tag">{{ tag }}</span>
  {% endfor %}
</div>
{% endif %}
